<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DAL" value="Stcok.SQLServerDAL" />
  </appSettings>
  <connectionStrings>
    <add name="SqlConn" connectionString="Data Source=172.20.128.4\ZZULIJSJ,1433;database=Stock;uid=sa;pwd=Zzuli_jsj" />
  </connectionStrings>
</configuration>